/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-img: url(../images/cover-image-light.png)
  --bg-txt-color: #ff0070;
  --txt-color: #000028;
  --txt-cards-clr: #f1b2ce;
  --hdr-txt-clr: #db00ff;
  --hover-brd-clr:rgba(255, 0, 112, 0.4);


  --bg-clr: var(--txt-color);



}

.theme-light .page {
  --bg-img: url(../images/cover-image-light.png)
}
