:root .theme-light {
  --font-family: "IBM Plex Mono";
  --bg-txt-color: #ff8dcb;
  --txt-color: #353430;
  --txt-cards-clr: #353430;
  --hdr-txt-clr: #ffc2e6;
  --hover-brd-clr: rgba(255, 0, 112, 0.4);
  --txt-tlt-clr: #353430;
  --txt-shadow: #ff8dcb;
  --point-clr: #ff8dcb;
  --corner-color: #353430;
  --menu-txt-clr: #353430;
  --bg-clr: #353430;
}

.theme-light .header__dark-theme {
  display: none;
}

.theme-light .page {
  --bg-img: url(../images/cover-image-light.png);
  --menu-txt-clr: #353430;
  --hdr-txt-clr: #ffc2e6;
  --txt-shadow: #ff8dcb;
  --bg-txt-color: #ff8dcb;
  --txt-color: #353430;
  --txt-cards-clr: #353430;
  --txt-tlt-clr: #353430;
  --corner-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-txt-color: #ff8dcb;
    --txt-color: #353430;
    --txt-cards-clr: #353430;
    --hdr-txt-clr: #ffc2e6;
    --hover-brd-clr: rgba(255, 0, 112, 0.4);
    --txt-tlt-clr: #353430;
    --txt-shadow: #ff8dcb;
    --point-clr: #ff8dcb;
    --corner-color: #353430;
    --menu-txt-clr: #353430;
    --bg-clr: #353430;
  }
}
