/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-img);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  font-family: var(--font-family), "IBM Plex mono", sans-serif;
}

.title-decor,
.card__title,
.tlt-pictures {
  background-color: var(--bg-txt-color);
  color: var(--txt-color);
}

ul {
  list-style: none;
}

.header {
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header__theme-menu-button {
  font-size: 18px;
  background: transparent;
  border: 1px solid transparent;
  color: var(--menu-txt-clr);
  font-family: var(--font-family), "IBM Plex mono", sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  padding: 0px 13px;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-brd-clr);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu {
  display: flex;
  justify-self: end;
  margin-block-start: 63px;
}

.header__theme-menu-list {
  display: flex;
  gap: 12px;
  list-style: none;
  padding: 0;
  flex-direction: column;
}

.header__dark-theme {
  position: absolute;
  top: 12px;
  right: 20px;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  border-radius: 100%;
  color: var(--txt-tlt-clr);
  display: flex;
  gap: 10px;
  align-items: center;
}

.title {
  font-family: var(--font-family), "IBM Plex mono", monospace;
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 83%;
  color: var(--hdr-txt-clr);
  justify-self: start;
  text-shadow: 4px 4px 0 var(--txt-shadow);
  margin-block-start: 67px;
}

@media (width >= 768px) {
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Точка после rec */
.header__dark-theme::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--point-color, #ff0070);
  background: var(--point-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--corner-color, #ff0070);
  border-block-start: 1px solid var(--corner-color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--corner-color, #ff0070);
  border-block-end: 1px solid var(--corner-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.title-decor {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  font-family: var(--font-family), "IBM Plex Mono", sans-serif;
  margin-block: 54px;
  inline-size: clamp(355px, calc(100% / 2 - 10px), 500px);
}

.main {
  display: grid;
  gap: 50px;
  margin-block-start: 31px;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  font-family: var(--font-family), "IBM Plex mono", sans-serif;
}

.section__title {
  color: var(--txt-tlt-clr);
  font-size: 18px;
}

.cards {
  display: grid;
  gap: 20px;
}

.card__text {
  color: var(--txt-cards-clr);
  line-height: 130%;
  font-weight: 400;
  padding-block-start: 10px;
}

.card__title {
  font-size: 18px;
}

.section__why {
  display: grid;
  gap: 22px;
}

.link {
  text-decoration: none;
}

.link:focus-visible {
  outline: 1px solid var(--txt-cards-clr);
}

.shadow-decor {
  text-shadow: 2px 2px 0 var(--txt-shadow);
}

.shadow-decor:hover {
  text-decoration: underline;
}

.cards__reasons {
  display: grid;
  gap: 10px;
  margin-block-start: 10px;
}

.section__what {
  display: grid;
}

.section__concentration {
  display: grid;
  column-gap: 32px;
  gap: 21px;
}

.section__concentration li {
  padding-block-start: 20px;
}

.section__pictures {
  display: grid;
  gap: 9px;
}

.pictures__list {
  display: grid;
  gap: 10px;
}

.list-item__pictures {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
  justify-items: center;
  min-block-size: 100vh;
  grid-template-columns: 1fr;
  margin-block-start: 30px;
}

.title-footer {
  margin: auto;
}

@media (width >= 768px) {
  .header {
    display: grid;
    justify-items: center;
    min-block-size: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
    padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    padding-inline-start: 0;
  }

  .header__theme-menu {
    display: flex;
    justify-self: end;
    margin-block-start: 171px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
    list-style: none;
    padding: 0;
  }

  .header__dark-theme {
    top: 23px;
    right: 29px;
  }

  .header .title {
    margin-block-start: 5px;
  }

  .title-decor {
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    justify-self: end;
    align-self: center;
    font-family: var(--font-family), "IBM Plex Mono", sans-serif;
  }

  .main {
    gap: 80px;
    margin-block-start: 40px;
  }

  .section__why,
  .section__what,
  .section__concentration {
    grid-template-columns: minmax(237px, calc(100% / 3.25)) 1fr;
    column-gap: 20px;
  }

  .section__pictures {
    gap: 22px;
  }

  .cards__reasons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column-start: span 2;
  }

  .card__concentration {
    display: grid;
    gap: 12px;
  }

  .pictures__list {
    display: grid;
    gap: 20px;
    padding-inline-start: 0px;
  }

  .sunset {
    grid-column: span 2 / span 2;
  }

  .ice-cream {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
  }

  .tape {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .books {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .street {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .footer {
    padding: 20px;
    margin-block-start: 40px;
  }
}

@media (width >= 1024px) {
  .header {
    display: grid;
    justify-items: center;
    min-block-size: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
    padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    padding-inline-start: 0;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin-inline-start: 20px;
    flex-direction: row;
  }

  .header__theme-menu {
    display: flex;
    justify-self: center;
    margin-block-start: 0px;
  }

  .header .title {
    margin-block-start: 0px;
  }

  .title-decor {
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    justify-self: end;
    align-self: center;
    font-family: var(--font-family), "IBM Plex Mono", sans-serif;
    margin-block: 54px;
  }

  .section__why,
  .section__what,
  .section__concentration {
    grid-template-columns: minmax(237px, calc(100% / 3.25)) 1fr;
    column-gap: 33px;
  }

  .section__pictures {
    gap: 20px;
  }

  .cards__reasons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column-start: span 2;
  }
}

/* Остановился на блоке main */
