/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */  
  background-color : var(--bg-clr);
  background-image: var(--bg-img);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  font-family: var(--font-family), 'IBM Plex mono', sans-serif;
}


.title-decor,
.card__title, 
.tlt-pictures{
  background-color: var(--bg-txt-color);
  color: var(--txt-color);
}

ul {
  list-style: none;
}

.header {
  display: grid;
  justify-items: center;
  min-block-size: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: clamp(10px, 2vw, 20px);
  padding-inline-start: 0;
}


.header__theme-menu-button {
  font-size: 18px;
  background: transparent;
  border: 1px solid transparent;
  color: var(--menu-txt-clr);
  font-family: var(--font-family), 'IBM Plex mono', sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  padding: 0px 13px;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-brd-clr);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin-inline-start: 20px;
}

.header__dark-theme {
  position: absolute;
  top: 22px;
  right: 29px;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  border-radius: 100%;
  color: var(--txt-tlt-clr);
  display: flex;
  gap: 10px;
  align-items: center;
} 

.title {
  font-family: var(--font-family), 'IBM Plex mono', monospace;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  color: var(--hdr-txt-clr);
  justify-self: start;
  text-shadow: 4px 4px 0 var(--txt-shadow);
  word-spacing: 5px;
}

/* Точка после rec */
.header__dark-theme::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--point-color, #ff0070);
  background: var(--point-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  position: relative;
} 

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--corner-color, #ff0070);
  border-block-start: 1px solid var(--corner-color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px); 
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--corner-color, #ff0070);
  border-block-end: 1px solid var(--corner-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}



.title-decor {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  width: 491px;
  height: 71px;
  justify-self: end;
  align-self: center;
  font-family: var(--font-family), 'IBM Plex Mono', sans-serif;
}

.main {
  display: grid;
  gap: 80px;
  margin-block-start: 40px;
  padding: clamp(10px, 2vw, 20px);
  font-family: var(--font-family), 'IBM Plex mono', sans-serif;
}

.section__title {
  color: var(--txt-tlt-clr);
  font-size: 18px;
}

.cards {
  display: grid;
  gap: 20px;
}

.card__text {
  color: var(--txt-cards-clr);
  line-height: 130%;
  font-weight: 400;
  padding-block-start: 10px;
}

.card__title {
  font-size: 18px;
}

.section__why {
  display: grid;
  grid-template-columns: clamp(240px, calc(100% / 3.25), 315px) 1fr;
  column-gap: 33px;
}

.cards__reasons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-column-start: span 2;
  padding-block-start: 10px;
}

.section__what {
  display: grid;
  grid-template-columns: clamp(240px, calc(100% / 3.25), 315px) 1fr;
}

.section__concentration {
  display: grid;
  grid-template-columns: clamp(240px, calc(100% / 3.25), 315px) 1fr;
  column-gap: 32px;
}

.section__concentration li {
  padding-block-start: 20px;
}

.section__pictures {
  display: grid;
  gap: 20px;
}

.pictures__list {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  gap: 20px;
  padding-inline-start: 0px;
}

.sunset {
  grid-column: span 2 / span 2;
}

.ice-cream {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
}

.tape {
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 2;
}

.books {
  grid-column-start: 2;
  grid-row-start: 2;
}

.street {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}

.list-item__pictures {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
  justify-items: center;
  min-block-size: 100vh;
  grid-template-columns: 1fr;
  margin-block-start: 40px;
  padding: 20px;
}

.title-footer {
  margin: auto;
}